/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	/*font-style: italic;*/
	background-color: #000;
	color: #fff;
}

button {
	outline: none;
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.page-title {
	margin-top: 50px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.page-title a {
	display: block;
	margin: 0;
	color: #fcfcfc;
	transition: letter-spacing 0.2s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	letter-spacing: 0.4em;
	text-decoration: none;
}

.page-title a:hover {
	letter-spacing: 0.5em;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.grid-container {
	position: relative;
}

.grid {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	margin-bottom: 25%;
	background-color: #000;
	z-index: 1;
	overflow: visible;
}

.grid.zoomed .box {
	opacity: 0.5;
}

.grid.zoomed .box:hover {
	opacity: 0.8;
}

.box {
	float: left;
	width: 25%;
	height: 0px;
	padding-top: 25%;
	cursor: pointer;
	position: relative;
	overflow: visible;
	/*transition: opacity 0.2s;*/
}

.box.open {
	cursor: auto;
	opacity: 1 !important;
}

.thumb {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

.thumb__title {
	position: absolute;
	left: -100%;
	bottom: 0px;
	padding: 15px;
	background-color: #fcfcfc;
	color: #1f1f1f;
	transition: left 0.3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.thumb:hover .thumb__title {
	left: 0px;
}

.thumb img {
	display: none;
	width: 100%;
}

.project {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding-bottom: 0px;
	z-index: 2;
	background-color: #fcfcfc;
	color: #8e8e8e;
	overflow-y: auto;
}

.project__inner {
	position: relative;
	width: 100%;
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 60px;
	max-width: 1400px;
	margin: 0 auto;
}

.project img {
	display: none;
	max-width: 100%;
}

.project h2 {
	font-size: 3em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
	color: #1f1f1f;
	text-transform: uppercase;
}

.project__file {
	text-align: center;
}

.project__file .aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 51%;
}

.project__file .aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0; 
}

.project__tags {
	margin-bottom: 50px;
}

.project__tags span:last-child {
	display: none;
}

.project__close-btn {
	position: absolute;
	font-size: 1.5em;
}